@charset "UTF-8";

// Styles for rendered markdown in the .main-content container
// stylelint-disable selector-no-type, max-nesting-depth, selector-max-compound-selectors, selector-max-type, selector-max-specificity, selector-max-id


.main-content {
    //line-height: 1.6;
    //padding: 0px 0px 20px 0px;
}

.main-content h1,
.main-content .codehilite,
.main-content p {
    margin: 20px 0px 0px 0px;
    //background-color: red;
}

//.main-content pre {
//    margin: 0;
//}


.main-content .codehilite {
    padding: 1em 1em 0 1em;
    border: 1px solid grey;
    border-radius: 8px; 
}

//.codehilite pre {
//  line-height: 1.2;
//  margin: 0;
//  padding: 15px;
//}

//.main-content .codehilite pre {
//  margin-bottom: 0;
//  padding-bottom: 0;
//}

//
//
//
//
//.main-content table {
//  width: 100%;
//  border: 1px solid grey;
//  border-collapse: separate;
//  border-spacing: 0;
//  border-radius: 8px;
//  overflow: hidden;
//}
//
//.main-content th,
//.main-content td {
//  padding: 0.75rem;
//  text-align: left;
//  border-right: 1px solid grey; /* Vertical dividers */
//  border-bottom: 1px solid grey; /* Horizontal dividers */
//}
//
///* Remove right border from last column */
//.main-content th:last-child,
//.main-content td:last-child {
//  border-right: none;
//}
//
///* Remove bottom border from last row */
//.main-content tr:last-child td {
//  border-bottom: none;
//}
//
//.main-content th {
//  background: #f0f0f0;
//  font-weight: bold;
//}



