
/*
background-color: var(--bg-surface);
*/
:root {
    --white-0: #ffffff;

    --black-0: #1f2328;
    
    --grey-0: #f6f8fa;
    --grey-1: #eaeef2;
    --grey-2: #d0d7de;
    --grey-3: #afb8c1;
    --grey-4: #8c959f;
    --grey-5: #6e7781;
    --grey-6: #57606a;
    --grey-7: #424a53;
    --grey-8: #32383f;
    --grey-9: #24292f;

    --fg-color: var(--grey-8);
    //--fg-color: red; 
    --bg-color: var(--white-0);
    --bg-color-alt: var(--grey-0);
    --border-width: 1px;
    --border-radius: 8px;

    --fg-color-hover: var(--grey-8);
    --bg-color-hover: var(--grey-0);
    --border-width-hover: 1px;
}

*, *::before, *::after {
    box-sizing: border-box;
}


* {
    margin: 0;
    padding: 0;
    border-width: 0;
    font-family: sans-serif;
    //background-color: transparent;
    font-size: 16px;
    color: var(--fg-color);
    //background-color: var(--bg-color);
    //background-color: red;
    border-color: var(--fg-color);
}

svg {
    background-color: inherit; 
}

.grid {
    display: grid;
    width: auto;
    height: auto;
    gap: 0;
}

.grid-page {
    border-style: solid;
    align-items: center;
}

.grid-header {
    grid-template-columns: minmax(auto, 400px) minmax(auto, 600px) minmax(auto, 400px);
    height: 80px;
    border-width: 0px 0px 1px 0px;
    justify-content: space-between;
    //overflow-x: scroll;
}

.grid-header-left,
.grid-header-center,
.grid-header-right {
    grid-auto-flow: column;
    grid-auto-columns: auto;
    gap: 1.28rem;
    //background-color: pink; 
}

.grid-header-left {
    justify-content: left;
    padding: 0 0.75rem 0 2rem;
}

.grid-header-center {
    justify-content: center;
    align-items: center;
    padding: 0 0.75rem 0 0.75rem;
}

.grid-header-right {
    justify-content: right;
    padding: 0 2rem 0 0.75rem;
}

.button {
    //display: inline-flex;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    //padding: 16px 8px 16px 8px;
    padding: 1em 1em 1em 1em;
    gap: 8px;
    //border-width: 1px;
    border-width: var(--border-width);
    border-radius: var(--border-radius);
    border-color: var(--fg-color);
    border-style: solid;
    background-color: var(--bg-color);
    //background-color: pink; 
    color: var(--fg-color);
    text-decoration: none;
    //font-size: 20; 
    //color: red; 
    cursor: pointer;
    appearance: none;
    //box-shadow: none;
    //overflow-x: auto;
    //white-space: nowrap;
}


.button:hover {
    color: var(--fg-color-hover);
    background-color: var(--bg-color-hover);
    border-color: var(--fg-color-hover);
    //border-width: var(--border-width-hover);
}

.nav-button {
    text-decoration: none;
}

.dropdown {
    position: relative;
    cursor: pointer;
}

//.nav-link {
//    display: flex;
//    height: 40px;
//    width: auto;
//    color: black;
//    border-width: 1px;
//    border-radius: 4px;
//    border-color: $dark-grey;
//    align-items: center;
//    justify-content: center;
//    text-decoration: none;
//    padding: 10px;
//}
//
//.nav-link:hover {
//    color: inherit;
//    background-color: $light-grey;
//    text-decoration: none;
//}
//
//.nav-link:visited {
//    color: inherit;
//    text-decoration: none;
//}

.dropdown-menu {
    display: none;
    //grid-template-columns: minmax(auto, 300px);
    //grid-template-columns: minmax(200px, auto);
    grid-template-columns: auto; 
    position: absolute;
    top: 100%;
    left: 0;
    background-color: transparent;
    min-width: 100%;
    //border: none;
    list-style: none;
    //box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 0; /* Remove any padding */
    margin: 0; /* Remove any margin */
}

.dropdown:hover .dropdown-menu {
    display: grid;
}

.dropdown-menu-item {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    margin: 0; /* Remove default margin */
    padding: 10px; /* Remove default padding */
    padding: 1em 1em 1em 1em;
    background-color: var(--bg-color);
    border-color: var(--fg-color);
    border-width: var(--border-width) var(--border-width) 0 var(--border-width);
    border-style: solid; 
    //overflow: hidden;
    white-space: nowrap;
}

.dropdown-menu-item:first-child {
    margin-top: 0.25rem;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.dropdown-menu-item:last-child {
    border-width: var(--border-width);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.dropdown-menu-item:hover {
    color: var(--fg-color-hover);
    background-color: var(--bg-color-hover);
    border-color: var(--fg-color-hover);
}

.dropdown-menu-item a {
    background-color: transparent;
    text-decoration: none;
    appearance: none;
}

.nav-logo {
    display: flex;
    height: auto;
    width: auto;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: var(--border-radius);
}

.nav-logo:hover {
    color: inherit;
    background-color: var(--bg-color-hover);
}

.nav-logo img {
    height: 30px;
    background-color: transparent;
}

.main {
    display: grid;
    grid-template-columns: minmax(auto, 400px) minmax(auto, 1000px) minmax(auto, 400px);
    width: auto;
    height: auto;
    gap: 0;
    border-style: solid;
    align-items: center;
    justify-content: space-between;
}

.main-left,
.main-center,
.main-right {
    display: grid;
    justify-content: center;
}

.main-left {
    justify-content: left;
    padding: 0 0.75rem 0 2rem;
}

.main-center {
    justify-content: center;
    align-items: center;
    padding: 0 0.75rem 0 0.75rem;
    //background-color: red;
}

.main-right {
    justify-content: right;
    padding: 0 2rem 0 0.75rem;
}

