
/*
background-color: var(--bg-surface);
*/
:root {
    --white-0: #ffffff;

    --black-0: #1f2328;
    
    --grey-0: #f6f8fa;
    --grey-1: #eaeef2;
    --grey-2: #d0d7de;
    --grey-3: #afb8c1;
    --grey-4: #8c959f;
    --grey-5: #6e7781;
    --grey-6: #57606a;
    --grey-7: #424a53;
    --grey-8: #32383f;
    --grey-9: #24292f;

    --fg-color: var(--grey-8);
    //--fg-color: red; 
    --bg-color: var(--white-0);
    --bg-color-alt: var(--grey-0);
    --border-width: 1px;

    --fg-color-hover: var(--grey-8);
    --bg-color-hover: var(--grey-0);
    --border-width-hover: 1px;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-width: 0;
    font-family: sans-serif;
    background-color: transparent;
    font-size: 16px;
    color: var(--fg-color);
    background-color: var(--bg-color);
    //background-color: red;
    border-color: var(--fg-color);
}

svg {
    background-color: inherit; 
}

.grid {
    display: grid;
    width: auto;
    height: auto;
    gap: 0;
}

.grid-page {
    border-style: solid;
    align-items: center;
}

.grid-header {
    grid-template-columns: minmax(auto, 300px) minmax(auto, 600px) minmax(auto, 300px);
    height: 80px;
    border-width: 0px 0px 1px 0px;
    justify-content: space-between;
    //overflow-x: scroll;
}

.grid-header-left,
.grid-header-center,
.grid-header-right {
    grid-auto-flow: column;
    grid-auto-columns: auto;
    gap: 1.28rem;
}

.grid-header-left {
    justify-content: left;
    padding: 0 0.75rem 0 2rem;
}

.grid-header-center {
    justify-content: center;
    align-items: center;
    padding: 0 0.75rem 0 0.75rem;
}

.grid-header-right {
    justify-content: right;
    padding: 0 2rem 0 0.75rem;
}

.button {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 20px;
    //padding: 16px 8px 16px 8px;
    padding: 1.25em 1em 1.25em 1em;
    gap: 8px;
    //border-width: 1px;
    border-width: var(--border-width);
    border-radius: 0.5rem;
    border-color: var(--fg-color);
    border-style: solid;
    background-color: var(--bg-color);
    color: var(--fg-color);
    //font-size: 20; 
    //color: red; 
    //cursor: pointer;
    appearance: none;
    //box-shadow: none;
    //overflow-x: auto;
    //white-space: nowrap;
}


.button:hover {
    color: var(--fg-color-hover);
    background-color: var(--bg-color-hover);
    border-color: var(--fg-color-hover);
    border-width: var(--border-width-hover);
}

.btn {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 20px;
    //padding: 16px 8px 16px 8px;
    padding: 1.25em 1em 1.25em 1em;
    gap: 8px;
    //border-width: 1px;
    border-width: var(--border-width);
    border-radius: 0.5rem;
    border-color: var(--fg-color);
    border-style: solid;
    background-color: var(--bg-color);
    //background-color: pink; 
    color: var(--fg-color);
    text-decoration: none;
    //font-size: 20; 
    //color: red; 
    //cursor: pointer;
    appearance: none;
    //box-shadow: none;
    //overflow-x: auto;
    //white-space: nowrap;
}


.btn:hover {
    color: var(--fg-color-hover);
    background-color: var(--bg-color-hover);
    border-color: var(--fg-color-hover);
    border-width: var(--border-width-hover);
}


