html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

body {
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
}


/* nav styles */

.nav-links {
  width: 100%;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #0d0950;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #ff9776;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }
}

.class-1 {
    background-color: black; 
    width: 100%;
    height: 100%;
}


.grid {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 20px;
    width: 100%;
    height: 80px;
    background-color: red;
    justify-content: space-between;
    align-content: center;
}

.header {
    display: grid;
    grid-template-columns: minmax(auto, 200px) minmax(auto, 200px) minmax(auto, 200px);
    width: 100%;
    height: 80px;
    background-color: blue;
    justify-content: space-between;
    //align-content: center;
}

.header-left,
.header-center,
.header-right {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
    background-color: green;
    align-content: center;
}

.header-left {
    justify-content: left;
}

.header-center {
    justify-content: center;
}

.header-right {
    justify-content: right;
}

.grid--header--left {
    grid-template-columns: 1fr 3fr 1fr;
    width: 100%;
    height: 80px;
    background-color: blue;
    justify-content: space-between;
    align-content: center;
}


.box {
    display: grid;
    grid-template-columns: 1fr;
}

