/*
Grey Colors form 
https://www.color-hex.com/color-palette/7134

	#eeeeee	(238,238,238)
#dddddd	(221,221,221)
#cccccc	(204,204,204)
#bbbbbb	(187,187,187)
#9a9a9a	(154,154,154)
https://primer.style/brand/primitives/color/
*/

:root {
    --grey-lightest: #eeeeee;
    --grey-lightest: #fafafa;
    --grey-light: #f5f5f5;
    --grey: #333;
    //--grey: black;

    ////--grey-light: #dddddd;
    ////--grey: #cccccc;
    //--grey-dark: #bbbbbb;
    //--grey-darkest: #9a9a9a;

    //--color-primary: #3b82f6;
    //--color-secondary: #10b981;
    //--color-accent: #f59e0b;
    //--color-bg: #ffffff;
    //--color-text: #1a1a1a;
    //--color-border: #e5e7eb;
    //
    ///* Semantic colors */
    //--color-success: #10b981;
    //--color-warning: #f59e0b;
    //--color-error: #ef4444;
    //--color-info: #3b82f6;


    --grey-0: #f6f8fa;
    --grey-1: #eaeef2;
    --grey-2: #d0d7de;
    --grey-3: #afb8c1;
    --grey-4: #8c959f;
    --grey-5: #6e7781;
    --grey-6: #57606a;
    --grey-7: #424a53;
    --grey-8: #32383f;
    --grey-9: #24292f;
}

html {
    background-color: transparent;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* nav styles */
//.nav-links {
//  width: 100%;
//  display: none;
//  margin: 0;
//}
//
//.nav-links a {
//  display: block;
//  text-align: center;
//  padding: 10px 0;
//  text-decoration: none;
//  font-size: 1.2rem;
//  font-weight: bold;
//  text-transform: uppercase;
//  color: #0d0950;
//}
//
//.nav-links a:hover,
//.nav-links a:focus {
//  background-color: #ff9776;
//}
//
//@media screen and (min-width: 636px) {
//  .nav-links {
//    margin-left: 5em;
//    display: block;
//    position: static;
//    width: auto;
//    background: none;
//  }
//
//  .nav-links a {
//    display: inline-block;
//    padding: 15px 20px;
//  }
//}
//
//.class-1 {
//    background-color: black; 
//    width: 100%;
//    height: 100%;
//}


.box {
    width: 100%;
    height: 100%;
}

.header {
    display: grid;
    grid-template-columns: minmax(auto, 300px) minmax(auto, 600px) minmax(auto, 300px);
    width: 100%;
    height: 80px;
    border-width: 0px 0px 1px 0px;
    border-color: var(--grey-3);
    border-style: solid;
    background-color: var(--grey-0);
    justify-content: space-between;
    //align-content: center;
    gap: 20px;
}

.header-left,
.header-center,
.header-right {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    width: 100%;
    height: 100%;
    background-color: var(--grey-0);
    background-color: green;
    align-items: center;
}

.header-left {
    justify-content: left;
    padding: 0px 0px 0px 20px;
}

.header-center {
    //display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.header-right {
    justify-content: right;
    padding: 0px 20px 0px 0px;
}

.class-1 {
    background-color: pink; 
    width: 50;
    height: 50;
}

.btn {
    //display: grid;
    //grid-auto-flow: column;
    //grid-auto-columns: auto;
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 20px;
    padding: 16px 8px 16px 8px;
    gap: 8px;
    border-width: 1px;
    border-radius: 4px;
    border-color: var(--grey-3);
    border-style: solid;
    //background-color: pink;
    //background-color: var(--grey-0);
    background-color: white;
    //cursor: pointer;
    appearance: none;
    box-shadow: none;
    //overflow-x: auto;
    white-space: nowrap;
    //flex-shrink: 0;
}


.btn:hover {
    border-color: var(--grey-7);
    //border-color: black;
}
