---
import Button from "./Button.astro";
import Block from "./Block.astro";
import Box from "./Box.astro";
import Header from '../components/Header.astro';
import ChevronDown from "./ChevronDown.astro";

//const config = {
//    "left": "block",
//    "class": "box",
//    "style": "height: 100px;",
//    //"children": [{"type": "button", "config": {}}, {"type": "block", "config": {}}, {"type": "box", "config": {"style": "background-color: red; width: 10px; height: 10px;"}}],
//    "children": [],
//};

//const config = {
//    "type": "div",
//    "params": {"class": "header", "style": "height: 100px;",},
//    //"children": [{"type": "button", "config": {}}, {"type": "block", "config": {}}, {"type": "box", "config": {"style": "background-color: red; width: 10px; height: 10px;"}}],
//    "children": [{"type": "div", "params": {"class": "header-center"}, "children": []}],
//};

//{config["type"] === 'div' && (
//  <div {...config.params}>
//    { config["children"] && config["children"].map((_, i) => ( <Box config={config["children"][i]} /> )) }
//  </div>
//)}

const { config } = Astro.props;

//console.log("Box received:", config);
//<button>push me</button>
---

{config.type === 'div' && (
  <div {...config.params}>
    {config.children && Object.values(config.children)
      .sort((a, b) => (a.order ?? 0) - (b.order ?? 0))
      .map((child) => (
            <Box config={child} />
      ))
    }
  </div>
)}


