---
---
<style>
    .btn {
        //display: grid;
        //grid-auto-flow: column;
        //grid-auto-columns: auto;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: auto;
        height: 20px;
        padding: 16px 8px 16px 8px;
        gap: 8px;
        border-width: 1px;
        border-radius: 4px;
        //border-color: var(--grey-3);
        border-color: transparent;
        border-style: solid;
        //background-color: pink;
        //background-color: var(--grey-0);
        background-color: transparent; 
        //cursor: pointer;
        appearance: none;
        box-shadow: none;
        //overflow-x: auto;
        flex-shrink: 0;
    }


    .btn:hover {
        border-color: var(--grey-7);
        //border-color: black;
    }
</style>

<!--
<button class="btn {config["class"]}">
    <ChevronDown config={config["children"][1]["config"]}/>
-->
<a class="btn">
    <img src="../../docs/bluejay_devices.svg" alt="Logo" class="nav-logo-img">
</a>

