

*, *::before, *::after {
    box-sizing: border-box;
}


* {
    margin: 0;
    padding: 0;
    border-width: 0;
    //font-family: sans-serif;
    //background-color: transparent;
    color: var(--fg-color);
    //background-color: var(--bg-color);
    //background-color: red;
    border-color: var(--fg-color);
    border-style: solid; 
}


.grid {
    display: grid;
    width: auto;
    height: auto;
    gap: 0;
}

.grid-page {
    border-style: solid;
    align-items: center;
}


