@import "./styles.css";
@charset "UTF-8";

/*
Styles for rendered markdown in the .main-content container
stylelint-disable selector-no-type, max-nesting-depth, selector-max-compound-selectors, selector-max-type, selector-max-specificity, selector-max-id
*/


html .main-content,
html .main-content * {
    font-family: var(--content-font-family); 
    justify-content: left;
}

.main-content p {
    margin: 1rem 0 0 0;
    line-height: 1.6; 
}

.main-content .codehilite,
.main-content table {
    margin: 2rem 0 1rem 0;
}

.main-content > :first-child {
    margin: 0;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
    margin: 2rem 0 1rem 0;
    //background-color: red;
    font-family: var(--page-font-family); 
}

.main-content h1 { font-size: var(--h1-size); }
.main-content h2 { font-size: calc(var(--h1-size) / pow(var(--scale-ratio), 1)); }
.main-content h3 { font-size: calc(var(--h1-size) / pow(var(--scale-ratio), 2)); }
.main-content h4 { font-size: calc(var(--h1-size) / pow(var(--scale-ratio), 3)); }
.main-content h5 { font-size: calc(var(--h1-size) / pow(var(--scale-ratio), 4)); }
.main-content h6 { font-size: calc(var(--h1-size) / pow(var(--scale-ratio), 5)); }




//.main-content pre {
//    margin: 0;
//}


.main-content .codehilite {
    padding: 1.2em 1em 0 1em;
    border: 1px solid grey;
    border-radius: var(--border-radius); 
}

//.codehilite pre {
//  line-height: 1.2;
//  margin: 0;
//  padding: 15px;
//}

//.main-content .codehilite pre {
//  margin-bottom: 0;
//  padding-bottom: 0;
//}



.main-content table {
  width: 100%;
  border: 1px solid grey;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: var(--border-radius); 
  overflow: hidden;
}

.main-content th,
.main-content td {
  padding: 0.75rem;
  text-align: left;
  border-right: 1px solid grey; /* Vertical dividers */
  border-bottom: 1px solid grey; /* Horizontal dividers */
}

/* Remove right border from last column */
.main-content th:last-child,
.main-content td:last-child {
  border-right: none;
}

/* Remove bottom border from last row */
.main-content tr:last-child td {
  border-bottom: none;
}

.main-content th {
  background: #f0f0f0;
  font-weight: bold;
}



