@import "./styles.css";
@charset "UTF-8";

/*
Styles for rendered markdown in the .markdown-content container
stylelint-disable selector-no-type, max-nesting-depth, selector-max-compound-selectors, selector-max-type, selector-max-specificity, selector-max-id
*/


html .markdown-content,
html .markdown-content * {
    font-family: var(--content-font-family); 
    justify.markdown-content: left;
}

.markdown-content {
}

.markdown-content p {
    margin: 1rem 0 0 0;
    line-height: 1.6; 
}

.markdown-content .codehilite,
.markdown-content table {
    margin: 2rem 0 1rem 0;
}

.markdown-content > :first-child {
    margin: 0;
}

.markdown-content h1,
.markdown-content h2,
.markdown-content h3,
.markdown-content h4,
.markdown-content h5,
.markdown-content h6 {
    margin: 2rem 0 1rem 0;
    //background-color: red;
    font-family: var(--page-font-family); 
}

.markdown-content h1 { font-size: var(--h1-size); }
.markdown-content h2 { font-size: calc(var(--h1-size) / pow(var(--scale-ratio), 1)); }
.markdown-content h3 { font-size: calc(var(--h1-size) / pow(var(--scale-ratio), 2)); }
.markdown-content h4 { font-size: calc(var(--h1-size) / pow(var(--scale-ratio), 3)); }
.markdown-content h5 { font-size: calc(var(--h1-size) / pow(var(--scale-ratio), 4)); }
.markdown-content h6 { font-size: calc(var(--h1-size) / pow(var(--scale-ratio), 5)); }




//.markdown-content pre {
//    margin: 0;
//}


.markdown-content .codehilite {
    padding: 1em 1em 1em 1em;
    border: 1px solid grey;
    border-radius: var(--border-radius); 
}

pre {
    margin-left: 0;
    text-indent: 0;
    width: 100%;
    overflow-x: auto;
}



//.codehilite pre {
//    //white-space: pre-line;
//    //white-space: pre;
//}


//.codehilite pre {
//    text-indent: 0;
//    white-space: pre;
//    background-color: pink;
//}
//
//.codehilite pre code {
//    display: block;
//    white-space: pre;
//}



//.codehilite pre {
//  line-height: 1.2;
//  margin: 0;
//  padding: 15px;
//}

//.markdown-content .codehilite pre {
//  margin-bottom: 0;
//  padding-bottom: 0;
//}



.markdown-content table {
  width: 100%;
  min-width: 100%;
  //width: max.markdown-content;
  border: 1px solid grey;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: var(--border-radius); 
  overflow: hidden;
  //overflow-x: scroll;
  //min-width: 0;
}


.markdown-content .table-wrapper {
    width: 100%; 
    //background-color: pink;
    overflow-x: scroll; 
    max-width: 100%;
    min-width: 0;  /* Important for grid/flex parents */
}

.markdown-content th,
.markdown-content td {
  padding: 0.75rem;
  text-align: left;
  border-right: 1px solid grey; /* Vertical dividers */
  border-bottom: 1px solid grey; /* Horizontal dividers */
  min-width: 7.5rem;  /* Or whatever makes sense */
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;  /* Allow wrapping */
}

/* Remove right border from last column */
.markdown-content th:last-child,
.markdown-content td:last-child {
  border-right: none;
}

/* Remove bottom border from last row */
.markdown-content tr:last-child td {
  border-bottom: none;
}

.markdown-content th {
  background: #f0f0f0;
  font-weight: bold;
}





.markdown-content img {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    margin: 3rem auto 3rem auto;
  //margin: 0 auto;
  //border: 1px solid grey;
  //border-radius: var(--border-radius); 
  //padding: ;
}

.grid-table {
    display: grid;
    width: 100%;
    grid-auto-columns: 1fr 1fr 1fr;
}



