
.nav {
    //display: grid;
    display: none;
    grid-auto-flow: row;
    width: 100%;
    gap: 0;
    align-items: start;
    align-self: start;

    //overflow: hidden;
    //background-color: var(--bg-color);
    //border-width: var(--border-width);
    //border-radius: var(--border-radius);

    //width: 20rem;
}

.nav-item {
    display: none;
    grid-template-columns: auto; 
}

.nav > .nav-item {
    display: grid;
}

.nav-button {
    display: grid;
    grid-auto-flow: column;
    //grid-auto-columns: 1fr auto;
    //grid-auto-columns: 1fr 2rem;
    grid-auto-columns: 1fr 4rem; 
    border-color: var(--fg-color);
    //border-top-width: var(--border-width);
    overflow: hidden;
    min-width: min-content;
    justify-content: space-between;
}

.nav-button-text {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    flex-shrink: 0;
    align-items: center;
    justify-content: left;
    width: auto;
    //padding: 0.5rem 1rem 0.5rem 1rem;
    padding: 0.75rem 0rem 0.75rem 1.5rem;
    text-decoration: none;

    white-space: nowrap;
    text-decoration: none;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}

.nav-button-text-solo {
    //padding-right: calc(1rem + max(2rem, 5%));
    //padding-right: calc(1.5rem + 4rem);
    padding-right: 4rem; 
}

.nav-button-text:hover ~ *,
.nav-button-text:hover {
    background-color: var(--bg-color-hover);
}


.nav-button-chevron {
    display: grid;
    height: 100%;
    //width: max(2rem, 10vh);
    //width: 2; 
    align-items: center;
    justify-content: center; 
}

.nav-button-chevron:hover {
    background-color: var(--bg-color-hover);
}


.nav-item-expanded > .nav-item {
    display: grid;
}

.nav-item-active > .nav-button > .nav-button-text {
    font-weight: 700;
    //background-color: pink;
}

.nav-item-expanded > .nav-button > .nav-button-chevron > svg {
    transform: rotate(-180deg);
}

.nav-logo {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    height: 3rem;
    width: auto;
    padding: 0.9rem; 
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: var(--border-radius);
    //margin-left: 2rem;
    //position: absolute;
    //top: 1rem;
    //left: 2rem;
}

.nav-logo:hover {
    background-color: var(--bg-color-hover);
}

.nav-logo-img {
    height: 100%;
}


.navbar {
    grid-area: navbar;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 5rem 1fr;
    //background-color: pink;
}


body.navbar-expanded > .navbar {
    border-width: 0 var(--border-width) 0 0;
    //border-radius: var(--border-radius);
}

body.navbar-expanded > .navbar > .nav-hamburger-button {
    display: none;
}

body.navbar-expanded > .navbar > .nav-cross-button {
    display: grid;
}

body.navbar-expanded > .navbar > .nav  {
    display: grid;
}



.temp-block-1 {
    width: 100%;
    //height: 7rem;
    height: 100%;
    background-color: orange;
}

.temp-block-2 {
    width: 100%;
    //height: 20rem;
    height: 100%;
    background-color: blue;
}

.temp-block-3 {
    width: 100%;
    //height: 20rem;
    height: 100%;
    background-color: purple;
}

.navbar-hamburger-menu {
    display: grid;
    align-items: center;
    padding: 0.25rem;
    border-radius: var(--border-radius);
    z-index: 9999;
    margin-right: 2rem;
    position: absolute;
    top: 1rem;
    right: 2rem;
}

.navbar-hamburger-menu:hover {
    background-color: var(--bg-color-hover);
}



.main .nav {
    //background-color: pink;
    //border-width: var(--border-width);
    //border-radius: var(--border-radius);
    //overflow: hidden;
}


#main-nav {
    //position: absolute;
    //top: 6rem;
    //right: 1rem;
    //width: 22rem;
    //background-color: var(--bg-color);
    //border-width: var(--border-width);
    //border-radius: var(--border-radius);
}

#main-nav .nav-item {
    //margin-left: 2rem;
}

.side-nav-menu {
    //display: grid;
    grid-column: 1;
    //background-color: pink;
    width: 23rem;
    height: max-content;
    overflow: hidden;
    background-color: var(--bg-color);
    border-width: var(--border-width);
    border-radius: var(--border-radius);
    //margin-right: 4rem;
}

//.navbar-hamburger-menu svg:nth-child(2) {
//    display: none; 
//}
//
//.navbar-hamburger-menu-expanded svg:nth-child(2) {
//    display: grid; 
//}
//
//.navbar-hamburger-menu-expanded svg:nth-child(1) {
//    display: none; 
//}
//
//.navbar-hamburger-menu-expanded {
//    //background-color: pink; 
//}

.navbar-expanded > .nav-menu {
    display: grid;
}


.nav-cross-button,
.nav-hamburger-button {
    display: grid;
    width: 3rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    margin-left: 2rem;
    align-self: center;
}

.nav-cross-button {
    display: none;
}

.nav-cross-button:hover,
.nav-hamburger-button:hover {
    background-color: var(--bg-color-hover);
}

.navbar-select {
    display: grid;
    width: auto;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-right: 2rem;
    align-items: start;
    justify-content: center;
    background-color: pink;
}

.nav-menu {
    display: grid;
    //display: none;
    //display: none;
    //position: absolute;

    //position: fixed;
    //top: 0;
    //left: 0;

    grid-template-rows: 5rem auto; 

    //width: max(24rem, 30vw);
    //width: min(100vw, 30rem);
    width: min(100%, 30rem);
    //width: min(100%, 30rem, 100vw);
    //height: auto;
    //height: max(100vh, max-content);
    height: 100%;
    //background-color: pink; 
    background-color: var(--bg-color);
    padding: 0 0 2rem 0;
    //background-color: var(--bg-color);
    //border-width: 0 0 var(--border-width) var(--border-width);
    //border-radius: 0 0 0 var(--border-radius);

    //border-width: var(--border-width);
    //border-radius: var(--border-radius);
    //overflow: auto;
}


@media (max-width: 58rem) {
    .main-docs {
        grid-template-columns: 1fr;
    }

    .side-nav-menu {
        display: none;
    }
}



@media (max-width: 55rem) {
    .main-product {
        grid-template-columns: minmax(0, 30rem);
    }

    .main-product > :nth-child(3) {
        grid-column: span 1;
    }

    .product-gallery-thumbnail-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (max-width: 58rem) {
    body {                                                                                                                                                                         
        grid-template-columns: 100vw;
        grid-template-rows: 5rem 1fr;
        grid-template-areas:
            "navbar"
            "main";
    }
    
    body.navbar-expanded {
        grid-template-columns: 100vw;
        grid-template-rows: 100vh;
        grid-template-areas:
            "navbar";
    }
}

