
.nav {
    display: grid;
    //display: none;
    grid-auto-flow: row;
    width: 100%;
    gap: 0;
    align-items: start;
    align-self: start;

    //overflow: hidden;
    //background-color: var(--bg-color);
    //border-width: var(--border-width);
    //border-radius: var(--border-radius);

    //width: 20rem;
}

.nav-item {
    display: none;
    grid-template-columns: auto; 
}

.nav > .nav-item {
    display: grid;
}

.nav-button {
    display: grid;
    grid-auto-flow: column;
    //grid-auto-columns: 1fr auto;
    //grid-auto-columns: 1fr 2rem;
    grid-auto-columns: 1fr 4rem; 
    border-color: var(--fg-color);
    //border-top-width: var(--border-width);
    overflow: hidden;
    min-width: min-content;
    justify-content: space-between;
}

.nav-button-text {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    flex-shrink: 0;
    align-items: center;
    justify-content: left;
    width: auto;
    //padding: 0.5rem 1rem 0.5rem 1rem;
    padding: 0.75rem 0rem 0.75rem 4rem;
    text-decoration: none;

    white-space: nowrap;
    text-decoration: none;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}

.nav-button-text-solo {
    //padding-right: calc(1rem + max(2rem, 5%));
    //padding-right: calc(1.5rem + 4rem);
    padding-right: 4rem; 
}

.nav-button-text:hover ~ *,
.nav-button-text:hover {
    background-color: var(--bg-color-hover);
}


.nav-button-chevron {
    display: grid;
    height: 100%;
    //width: max(2rem, 10vh);
    //width: 2; 
    align-items: center;
    justify-content: center; 
}

.nav-button-chevron:hover {
    background-color: var(--bg-color-hover);
}


.nav-item.expanded > .nav-item {
    display: grid;
}

.nav-item-active > .nav-button > .nav-button-text {
    font-weight: 700;
    //background-color: pink;
}

.nav-item.expanded > .nav-button > .nav-button-chevron > svg {
    transform: rotate(-180deg);
}


.nav-logo {
    display: grid;
}

.nav-logo-button {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    height: 3rem;
    width: auto;
    padding: 0.9rem; 
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: var(--border-radius);
    //margin-left: 2rem;
    //position: absolute;
    //top: 1rem;
    //left: 2rem;

}

.nav-logo-button:hover {
    background-color: var(--bg-color-hover);
}

.nav-logo-button > img {
    height: 100%;
}

