:root {
    --white-0: #ffffff;

    --black-0: #1f2328;
    
    --grey-0: #f6f8fa;
    --grey-1: #eaeef2;
    --grey-2: #d0d7de;
    --grey-3: #afb8c1;
    --grey-4: #8c959f;
    --grey-5: #6e7781;
    --grey-6: #57606a;
    --grey-7: #424a53;
    --grey-8: #32383f;
    --grey-9: #24292f;

    --fg-color: var(--grey-8);
    //--fg-color: red; 
    --bg-color: var(--white-0);
    --bg-color-alt: var(--grey-0);
    --border-width: 1px;
    --border-radius: 8px;

    --fg-color-hover: var(--grey-8);
    --bg-color-hover: var(--grey-0);
    --bg-color-hover-alt: var(--grey-1);
    --border-width-hover: 2px;

    --h1-size: 2.5rem;
    --scale-ratio: 1.2;

    --page-font-family: "Courier New", Courier, monospace;
    --content-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

    --bg-color-button: #304e67; 
    --fg-color-button: white; 
    --font-weight-button: 700; 
}

html {
    font-size: 1rem;
    font-family: var(--page-font-family); 
}

*, *::before, *::after {
    box-sizing: border-box;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-style: solid; 
    border-width: 0; 
    color: var(--fg-color);
}

svg {
    background-color: inherit; 
}

body {
    display: grid;
    width: 100%;
    grid-template-columns: 23rem 1fr;
    grid-template-rows: 1fr;
    //grid-template-rows: 5rem 1fr;
    //grid-template-areas:
    //    "header main"
    //    "nav-menu main";
    //grid-template-areas:
    //    "header main";
    min-height: 100vh;

}


#nav {
    display: grid;
}

#nav > .nav-button {
    display: none;
}

#nav > .nav {
    display: grid;
}

.nav {
    display: none;
    align-self: start;
}

.nav.show > .nav {
    display: grid;
}

.nav.show > .nav-button > .nav-button-chevron {
    transform: rotate(-180deg);
}

.nav.active > .nav-button > a {
    font-weight: bold;
}

.nav-button {
    display: grid;
    grid-template-columns: 1fr 4rem; 
    height: max-content;
}

.nav-button:hover {
    background-color: var(--bg-color-hover);
}

.nav-button > a {
    display: grid;
    align-items: center;
    justify-content: left;
    text-decoration: none;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.nav-button-chevron {
    display: grid;
    align-items: center;
    justify-content: center; 
}

.nav-button-chevron:hover {
    background-color: var(--bg-color-hover-alt);
}


/* Second level (nested once) */
.nav .nav .nav-button {
    padding-left: 2rem;
}

/* Third level (nested twice) */
.nav .nav .nav .nav-button {
    padding-left: 4rem;
}

/* Fourth level */
.nav .nav .nav .nav .nav-button {
    padding-left: 6rem;
} 

/* Fourth level, etc. */
.nav .nav .nav .nav .nav .nav .nav-button {
    padding-left: 8rem;
} 

.nav-menu {
    display: grid;
    top: 5rem;
    align-self: start;
    padding: 2rem 0rem 2rem 0rem;
}

.sidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr;
    position: sticky;
    top: 0;
    height: 100vh;
}

.sidebar-header {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}

.main {
    //grid-area: main;
    display: grid;
    width: 100%;
    min-width: 0;
    padding: 4rem;
    //background-color: pink;
}

.main * {
    min-width: 0;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr;
    position: sticky;
    top: 0;
    height: 100vh;
    //background-color: pink;
    background-color: var(--bg-color);
    border-width: 0 var(--border-width) 0 0;
    border-style: solid;
    border-color: var(--fg-color);
}

.header {
    display: grid;
    grid-template-columns: auto;
    //background-color: pink;
    align-items: center;
    justify-content: center;
    padding: 0rem 2rem 0rem 2rem;
    gap: 2rem;
}

.logo {
    display: grid;
    height: 3rem;
    align-items: center;
    justify-content: center;
    padding: 0rem 0.5rem 0rem 0.5rem;
}

.nav-cross-button,
.nav-hamburger-button {
    display: none;
    width: 3rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
}

.nav-cross-button:hover,
.nav-hamburger-button:hover {
    background-color: var(--bg-color-hover);
}


@media (max-width: 58rem) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "header"
            "main";
    }

    .navbar {
        height: auto;
        border-width: 0;
    }

    .navbar.show {
        height: 100vh;
    }

    .nav-menu {
        display: none;
    }

    .navbar.show > .nav-menu {
        display: grid;

    }

    .header {
        grid-template-columns: auto auto;
        justify-content: space-between;;
        border-width: 0;
    }

    .nav-hamburger-button {
        display: grid;
    }

    .navbar.show > .header > .nav-hamburger-button {
        display: none;
    }

    .navbar.show > .header > .nav-cross-button {
        display: grid;
    }

}

