
/*
background-color: var(--bg-surface);
*/
:root {
    --white-0: #ffffff;

    --black-0: #1f2328;
    
    --grey-0: #f6f8fa;
    --grey-1: #eaeef2;
    --grey-2: #d0d7de;
    --grey-3: #afb8c1;
    --grey-4: #8c959f;
    --grey-5: #6e7781;
    --grey-6: #57606a;
    --grey-7: #424a53;
    --grey-8: #32383f;
    --grey-9: #24292f;

    --fg-color: var(--grey-8);
    //--fg-color: red; 
    --bg-color: var(--white-0);
    --bg-color-alt: var(--grey-0);
    --border-width: 1px;
    --border-radius: 8px;

    --fg-color-hover: var(--grey-8);
    --bg-color-hover: var(--grey-0);
    --border-width-hover: 1px;

    --h1-size: 2.5rem;
    --scale-ratio: 1.2;

    --page-font-family: "Courier New", Courier, monospace;
    --content-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

html {
    font-size: 1rem;
    font-family: var(--page-font-family); 
}

*, *::before, *::after {
    box-sizing: border-box;
}


* {
    margin: 0;
    padding: 0;
    border-width: 0;
    //font-family: sans-serif;
    //background-color: transparent;
    color: var(--fg-color);
    //background-color: var(--bg-color);
    //background-color: red;
    border-color: var(--fg-color);
    border-style: solid; 
}

svg {
    background-color: inherit; 
}

.grid {
    display: grid;
    width: auto;
    height: auto;
    gap: 0;
}

.grid-page {
    border-style: solid;
    align-items: center;
}

.grid-header {
    //grid-template-columns: 20rem minmax(auto, 60rem) minmax(auto, 20rem);
    //grid-template-columns: 20rem minmax(auto, 60rem) minmax(auto, 20rem);
    //grid-template-columns: minmax(auto, 20rem) minmax(auto, 60rem) minmax(auto, 20rem);
    //grid-template-columns: 60rem 60rem; 
    grid-template-columns: auto auto auto;
    grid-template-columns: auto auto; 
    height: 5rem;
    border-width: 0px 0px var(--border-width) 0px;
    justify-content: space-between;
    gap: 0;
    //overflow-x: scroll;
}

.grid-header-left,
.grid-header-center,
.grid-header-right {
    grid-auto-flow: column;
    grid-auto-columns: auto;
    gap: 1rem;
    //background-color: pink; 
}

.grid-header-left {
    justify-content: left;
    padding: 0 2rem 0 2rem;
}

.grid-header-center {
    justify-content: center;
    align-items: center;
    //padding: 0 4rem 0 4rem;
}

.grid-header-right {
    justify-content: right;
    padding: 0 2rem 0 2rem;
}

.nav-button {
    //display: inline-flex;
    display: grid;
    grid-auto-flow: column;
    //grid-auto-columns: auto;
    //grid-template-columns: 1fr auto;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 3em;
    padding: 0 1em 0 1em;
    //gap: 0.5rem;
    //border-width: 1px;
    border-width: var(--border-width);
    border-radius: var(--border-radius);
    border-color: var(--fg-color);
    border-style: solid;
    background-color: var(--bg-color);
    //background-color: pink; 
    color: var(--fg-color);
    text-decoration: none;
    //font-size: 20; 
    //color: red; 
    cursor: pointer;
    appearance: none;
    //box-shadow: none;
    //overflow-x: auto;
    //white-space: nowrap;
    text-decoration: none;
}


.nav-button:hover {
    color: var(--fg-color-hover);
    background-color: var(--bg-color-hover);
    border-color: var(--fg-color-hover);
}

.nav-dropdown-button {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr auto;
    flex-shrink: 0;
    align-items: center;
    //justify-content: center;
    width: auto;
    height: 3em;
    //padding: 0 1em 0 1em;
    //gap: 0.5rem;
    //border-width: 1px;
    border-width: var(--border-width);
    border-radius: var(--border-radius);
    border-color: var(--fg-color);
    border-style: solid;
    background-color: var(--bg-color);
    color: var(--fg-color);
    appearance: none;
    text-decoration: none;
    overflow: hidden;
}

.nav-dropdown-button:hover {
    color: var(--fg-color-hover);
    background-color: var(--bg-color-hover);
    border-color: var(--fg-color-hover);
}

.nav-dropdown-button-label {
    display: grid;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 0 0.2em 0 1em;
}


.nav-dropdown-button-chevron {
    display: grid;
    height: 100%;
    align-items: center;
    padding: 0 .6em 0 .2em;
}


.dropdown {
    position: relative;
    cursor: pointer;
}


.dropdown-menu {
    display: none;
    //grid-template-columns: minmax(auto, 300px);
    //grid-template-columns: minmax(200px, auto);
    //justify-content: right;
    grid-template-columns: auto; 
    position: absolute;
    top: 100%;
    right: 0;
    background-color: transparent;
    min-width: 100%;
    //border: none;
    list-style: none;
    //box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 0; /* Remove any padding */
    margin: 0; /* Remove any margin */
}

.dropdown:hover .dropdown-menu {
    display: grid;
}

.dropdown-menu-item {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    width: auto;
    height: 3em;
    margin: 0; /* Remove default margin */
    //padding: 10px; /* Remove default padding */
    padding: 0 1em 0 1em;
    background-color: var(--bg-color);
    //background-color: red;
    border-color: var(--fg-color);
    border-width: var(--border-width) var(--border-width) 0 var(--border-width);
    border-style: solid; 
    align-items: center;
    //overflow: hidden;
    white-space: nowrap;
}

.dropdown-menu-item:first-child {
    margin-top: 0.5rem;
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
}

.dropdown-menu-item:last-child {
    border-width: var(--border-width);
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

.dropdown-menu-item:hover {
    color: var(--fg-color-hover);
    background-color: var(--bg-color-hover);
    border-color: var(--fg-color-hover);
}

.dropdown-menu-item a {
    background-color: transparent;
    text-decoration: none;
    appearance: none;
}

.nav-logo {
    display: flex;
    height: 3rem;
    width: auto;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: var(--border-radius);
}

.nav-logo:hover {
    color: inherit;
    background-color: var(--bg-color-hover);
}

.nav-logo img {
    height: 100%;
    //width: 100%;
    background-color: transparent;
}

.main {
    display: grid;
    //grid-template-columns: minmax(auto, 20rem) minmax(auto, 60rem) minmax(auto, 20rem);
    //grid-template-columns: 20rem minmax(auto, 60rem) minmax(auto, 20rem);
    //grid-template-columns:  auto minmax(auto, 60rem) auto;
    grid-template-columns:  minmax(20rem, 20rem) minmax(auto, 50rem) 1fr;
    //grid-template-columns:  20rem minmax(auto, 50rem) 1fr;
    //grid-template-columns:  auto minmax(auto, 50rem) auto;
    //grid-auto-rows: 1fr;
    //width: auto;
    //height: auto;
    gap: 0;
    border-style: solid;
    align-items: stretch;
    justify-content: space-between;
}

.main-left,
.main-center,
.main-right {
    display: grid;
    justify-content: center;
}

.main-left {
    grid-template-columns:  1fr;
    justify-content: left;
    //border-width: 0 var(--border-width) 0 0;
    border-color: var(--fg-color);
    padding: 2rem 2rem 2rem 2rem;
}

.main-center {
    justify-content: center;
    align-items: start;
    //background-color: red;
    background-color: var(--bg-color);
    padding: 2rem 2rem 2rem 2rem;
}

.main-right {
    justify-content: right;
    padding: 2rem 2rem 2rem 2rem;
}

.footer {
    display: grid;
    //grid-template-columns: minmax(auto, 400px) minmax(auto, 1000px) minmax(auto, 400px);
    //grid-template-columns: 20rem minmax(auto, 60rem) minmax(auto, 20rem);
    grid-template-columns: auto auto auto; 
    width: auto;
    height: 5rem;
    gap: 0;
    border-width: var(--border-width) 0 0 0;
    border-style: solid;
    align-items: center;
    justify-content: space-between;
}

.footer-left,
.footer-center,
.footer-right {
    display: grid;
    justify-content: center;
}

.footer-left {
    justify-content: left;
    padding: 0 2rem 0 2rem;
}

.footer-center {
    justify-content: center;
    align-items: center;
    //padding: 0 4rem 0 4rem;
    //background-color: red;
}

.footer-right {
    justify-content: right;
    padding: 0 2rem 0 2rem;
}

.side-nav {
    display: grid;
    grid-template-columns: auto; 
    width: 100%;
    gap: 0;
    align-items: start;
    align-self: start;
    border-color: var(--fg-color);
    border-style: solid;
    //border-width: var(--border-width);
    border-width: var(--border-width) var(--border-width) var(--border-width) var(--border-width);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.side-nav > *:first-child > *:first-child {
    border-width: 0; 
}

.side-nav-button {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr auto;
    width: 100%;
    height: 2em;
    gap: 0;
    border-color: var(--fg-color);
    border-style: solid;
    //border-width: var(--border-width);
    //border-width: var(--border-width) var(--border-width) 0 var(--border-width);
    border-width: var(--border-width) 0 0 0; 
    margin: 0; /* Remove any margin */
    //padding: 0 1em 0 1em;
    align-items: center;
    justify-content: space-between;
}

.side-nav-button.active {
    font-weight: 700;
}

.side-nav-button.active > .side-nav-button-chevron svg {
    stroke-width: 2;
}


.side-nav-button-label:hover {
    color: var(--fg-color-hover);
    background-color: var(--bg-color-hover);
    border-color: var(--fg-color-hover);
}

.side-nav-button-label:hover ~ * {
    color: var(--fg-color-hover);
    background-color: var(--bg-color-hover);
    border-color: var(--fg-color-hover);
}

.side-nav-button-chevron:hover {
    color: var(--fg-color-hover);
    background-color: var(--bg-color-hover);
    border-color: var(--fg-color-hover);
}

.side-nav-button-label {
    display: grid;
    width: 100%;
    height: 100%;
    align-items: center;
    //justify-content: space-between;
    padding: 0 1em 0 1em;
}

.side-nav-button-chevron {
    display: grid;
    height: 100%;
    //border-width: 0 0 0 var(--border-width);
    margin: 0; /* Remove any margin */
    padding: 0 .5em 0 .5em;
    align-items: center;
    //justify-content: space-between;
}

.side-nav-item {
    display: none;
    grid-template-columns: auto; 
    align-items: start;
    align-self: start;
}

.side-nav-item.expanded > .side-nav-item {
    display: grid;
    //background-color: pink;
}

.side-nav-item.expanded > .side-nav-button > .side-nav-button-chevron > svg {
    transform: rotate(-180deg);
}

.side-nav > .side-nav-item {
    display: grid;
}



body {                                                                                                                                                                         
    display: grid;
    grid-template-rows: 
        auto
        1fr
        auto;
    min-height: 100vh;
    min-height: 100dvh;
    //background-color: var(--bg-color-alt);
}

